<%- include public %>
<body>
<div class="wrap">
<form method="get" class="form-horizontal">
<div class="form-group">
    <label class="col-sm-2 control-label">需求名称</label>

    <div class="col-sm-10">
        <input type="text" class="form-control">
    </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
    <div class="box">
        <label class="col-sm-1 control-label">Select</label>

        <div class="col-sm-2">
            <select class="form-control m-b" name="account">
                <option>选项 1</option>
                <option>选项 2</option>
                <option>选项 3</option>
                <option>选项 4</option>
            </select>
        </div>
        <label class="col-sm-1 control-label">开始时间</label>
        <div class="col-sm-2">
            <input type="text" class="form-control">
        </div>
        <label class="col-sm-1 control-label">计划完成时间</label>
        <div class="col-sm-2">
            <input type="text" class="form-control">

        </div>
    </div>
    <div class="box">
        <label class="col-sm-2 control-label">交互稿</label>
        <div class="col-sm-10">

            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>


</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-primary" type="submit">保存内容</button>
        <button class="btn btn-white" type="submit">取消</button>
    </div>
</div>
</form>


</div>


</body>
</html>

