.wrap{margin: 20px}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}
.time-jh{background-color:  #09F;}
.time-sj{background-color:  #F93;}
.time-cg{background-color:  #0C0;}
.time-line {margin-left: 10px;color: #fff;padding: 2px 10px}
.time-done{color: #e6e6e6}
.blue{color: #1c84c6}
.red{color: #ed5565}
.bg-gray{background-color: #999}
.bg-red{background-color: #ed5565}
.mt15 {
    margin-top: 15px;
}

/*login */
.loginscreen.middle-box {
    width: 300px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.middle-box h1 {
    font-size: 170px;
}
.full-width {
    width: 100%!important;
}
.block {
    display: block;
}

.time-done{background-color: #eee;color: #999}
.time-done .time-line{background-color: #999}
.time-stop .time-line{background-color: #ed5565;}

/*
 * 状态标识说明
 * status[0] == 初始化，无状态
 * status[1] == 已完成
 * status[2] == 未开始
 * status[3] == 进行中
 * status[4] == 未确认
 * status[5] == 已确认
 *
 */

